<div *ngIf="customer">
    <h1>Are you sure you want to delete the following customer ?</h1>
    <h5>{{customer.cust_name}} details!</h5>
    <div>
        <label>id: </label>{{customer.id}}
        <label>name: </label>{{customer.cust_name}}
    </div>

    <a class="btn-floating btn-large red" (click)="delete(customer)">Yes</a>
    <a class="btn-floating btn-large blue" (click)="goBack()">No</a>
</div>