<h3 class="center-align">{{title}}</h3>
<button md-icon-button (click)="gotoCreate()">
    <md-icon class="material-icons">add</md-icon>
</button>

<!--Filter box-->
<md-input placeholder="filter" [(ngModel)]="customerFilter" (keyup)="onCustomerFilterChange()"></md-input>

<md-nav-list>
    <a md-list-item *ngFor="let customer of filteredCustomers"
       [class.active]="customer === selectedCustomer"
       (click)="onSelect(customer)">
        <span md-line>{{customer.id}}. {{customer.cust_name}}</span>
        <button md-icon-button (click)="gotoDelete()">
            <md-icon class="material-icons">delete</md-icon>
        </button>
        <button md-icon-button (click)="gotoDetail()">
            <md-icon class="material-icons">edit</md-icon>
        </button>
    </a>
</md-nav-list>

<md-card *ngIf="selectedCustomer">
    <md-card-title>{{selectedCustomer.cust_name}} Details</md-card-title>
    <md-card-actions>
        <button md-button (click)="gotoDetail()">Edit</button>
        <button md-button (click)="gotoDelete()">Delete</button>
    </md-card-actions>
    <md-card-content>
        <h3 class="center-align">{{title}}</h3>
        <md-nav-list dense>
            <a md-list-item *ngFor="let coupon of selectedCustomer?.coupons">
                <span md-line>{{coupon.type}}</span>
                <span md-line>{{coupon.title}}</span>
                <span md-line>Valid until: {{coupon.endDate}}</span>
                <button md-icon-button (click)="gotoCoupon(coupon)">
                    <md-icon class="material-icons">info</md-icon>
                </button>
            </a>
        </md-nav-list>
    </md-card-content>
</md-card>


