<div *ngIf="company">
    <h3>Are you sure you want to delete {{company.comp_name}} company ?</h3>
    <button md-icon-button color="red" (click)="delete(company)">YES</button>
    <button md-icon-button color="grey" (click)="goBack()">NO</button>
</div>
