<h3 class="center-align">{{title}}</h3>
<button md-icon-button (click)="gotoCreate()">
    <md-icon class="material-icons">add</md-icon>
</button>

<!--Filter box-->
<md-input placeholder="filter" [(ngModel)]="companyFilter" (keyup)="onCompanyFilterChange()"></md-input>

<md-nav-list>
    <a md-list-item *ngFor="let company of filteredCompanies"
       [class.active]="company === selectedCompany"
       (click)="onSelect(company)">
        <span md-line>{{company.id}}. {{company.comp_name}}</span>
        <button md-icon-button (click)="gotoDelete()">
            <md-icon class="material-icons">delete</md-icon>
        </button>
        <button md-icon-button (click)="gotoDetail()">
            <md-icon class="material-icons">edit</md-icon>
        </button>
    </a>
</md-nav-list>

<md-card *ngIf="selectedCompany">
    <md-card-title>{{selectedCompany.comp_name | uppercase}} Details</md-card-title>
    <md-card-subtitle>Email: {{selectedCompany.email}}</md-card-subtitle>
    <md-card-actions>
        <button md-button (click)="gotoDetail()">Edit</button>
        <button md-button (click)="gotoDelete()">Delete</button>
        <button md-button (click)="createCoupon()">Create New Coupon</button>
    </md-card-actions>
    <md-card-content>
        <md-nav-list dense>
            <a md-list-item *ngFor="let coupon of selectedCompany?.coupons">
                <span md-line>{{coupon.type}}</span>
                <span md-line>{{coupon.title}}</span>
                <span md-line>{{coupon.amount}}</span>
                <span md-line>{{coupon.price}}</span>
                <button md-icon-button (click)="gotoCoupon(coupon)">
                    <md-icon class="material-icons">info</md-icon>
                </button>
            </a>
        </md-nav-list>
    </md-card-content>
</md-card>
