<md-card>
    <md-card-title>Login details</md-card-title>
    <md-card-content>
        <md-input required [(ngModel)]="user.username" id="username" placeholder="username" type="text" class="validate" focused></md-input>
        <md-input required [(ngModel)]="user.password" id="password" placeholder="password" type="password" class="validate"></md-input>
        <section class="clientType-radio-section">
            <md-radio-group name="clientType" [(ngModel)]="user.clientType">
                <md-radio-button *ngFor="let type of clientTypeOptions" name="clientType" [value]="type">
                    {{type}}
                </md-radio-button>
            </md-radio-group>
        </section>
    </md-card-content>
    <md-card-actions>
        <button md-raised-button
                (click)="login()"
                type="submit"
                name="action">Login as {{user.clientType.toLowerCase()}}
        </button>
    </md-card-actions>
</md-card>

<md-card>
    <md-card-content>
        <p>Please use the following Coupon system users to test:</p>
        <span><h3>ADMIN</h3><p> - Can manage both Companies and Customers</p></span>
        <span>(admin/1234)</span>
        <span><h3>COMPANY</h3><p> - Can create coupons</p></span>
        <span>(Hot/1234)</span>
        <span><h3>CUSTOMER</h3><p> - Can purchase coupons</p></span>
        <span>Foo/1234)</span>
    </md-card-content>
</md-card>
