<div class="loading-overlay" *ngIf="loading">
    <!-- show something fancy here, here with Angular 2 Material's loading bar or circle -->
    <md-progress-bar mode="indeterminate"></md-progress-bar>
</div>

<md-sidenav-layout [class.m2app-dark]="isDarkTheme">

    <md-sidenav #sidenav mode="push" class="app-sidenav">

        <div *ngIf="!_service.authenticated()">
            <p>Hello Dear !</p>
            <p>Please login</p>
        </div>

        <div *ngIf="_service.authenticated()">
            <md-card>
                <md-card-header>
                    <img md-card-avatar src="../../public/images/100-128.png">
                    <md-card-title>Hello dear {{tokenObj.sub}}</md-card-title>
                    <md-card-subtitle>Expired at: {{tokenObj.exp | date: 'dd/MM/yyyy' }}</md-card-subtitle>
                    <button class="app-icon-button" (click)="sidenav.toggle()">
                        <i class="material-icons app-toolbar-menu">clear</i>
                    </button>
                </md-card-header>
                <md-card-content>
                    <md-nav-list>

                        <a md-list-item routerLink="dashboard" routerLinkActive="active">
                            <md-icon md-list-icon>dashboard</md-icon>
                            <span md-line>Dashboard</span></a>
                        <a md-list-item routerLink="coupons" routerLinkActive="active">
                            <md-icon md-list-icon>perm_media</md-icon>
                            <span md-line>Coupons</span></a>

                        <div *ngIf="_service.isUserInRole('ADMIN')">

                            <a md-list-item routerLink="customers" routerLinkActive="active">
                                <md-icon md-list-icon>perm_identity</md-icon>
                                <span md-line>Customers</span></a>
                            <a md-list-item routerLink="companies" routerLinkActive="active">
                                <md-icon md-list-icon>contact_mail</md-icon>
                                <span md-line>Companies</span></a>
                        </div>

                        <a md-list-item routerLink="logout" routerLinkActive="active">
                            <md-icon md-list-icon>exit_to_app</md-icon>
                            <span md-line>Sign Out</span></a>

                    </md-nav-list>
                </md-card-content>
            </md-card>
        </div>
    </md-sidenav>

    <md-toolbar color="primary">
        <button class="app-icon-button" (click)="sidenav.toggle()">
            <i class="material-icons app-toolbar-menu">menu</i>
        </button>

        CouponZ

        <span class="app-toolbar-filler"></span>

        <button md-icon-button [md-menu-trigger-for]="posXMenu">
            <md-icon>more_vert</md-icon>
        </button>

        <md-menu x-position="before" #posXMenu="mdMenu" class="before">
            <button md-button (click)="showLog('CouponSystem application')">About</button>
            <!--<button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>-->
            <a md-menu-item *ngFor="let item of menuItems"
               [disabled]="item.disabled"
               [routerLink]="item.link"
               routerLinkActive="active">
                {{ item.text }}
            </a>
        </md-menu>
    </md-toolbar>

    <div class="app-content">
        <router-outlet></router-outlet>
    </div>


</md-sidenav-layout>

<span class="app-action-right" [class.m2app-dark]="isDarkTheme">
</span>

<span class="app-action-center" [class.m2app-dark]="isDarkTheme">

</span>

<span class="app-action-left" [class.m2app-dark]="isDarkTheme">
      <button md-fab (click)="goBack()"><md-icon>keyboard_backspace</md-icon></button>
</span>

<md-toolbar class="footer">
    <div class="footer-copyright">
        <div class="container">
            © 2016 Michael Klimenko Production
        </div>
    </div>
</md-toolbar>
