<div *ngIf="_service.isUserInRole('CUSTOMER')">
    <md-card>
        <md-card-title>Available Coupons</md-card-title>
        <md-card-content>
            <md-grid-list cols="3" rowHeight="200px">
                <md-grid-tile *ngFor="let coupon of coupons">
                    <img [alt]="coupon.title" src="{{coupon.image}}">
                    <md-grid-tile-footer>
                        <h3 md-line>{{coupon.title}}</h3>
                        <p md-line class="demo-secondary-text">{{coupon.message}} </p>
                        <span md-line>Price: ${{coupon.price}}</span>
                        <!--<md-icon>star_border</md-icon>-->
                        <button md-raised-button (click)="purchase(coupon)">Purchase</button>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </md-card-content>
    </md-card>

    <md-list dense>
        <h3 md-subheader>Purchased Coupons</h3>
        <md-list-item *ngFor="let coupon of purchasedCoupons">
            <img md-list-avatar [src]="coupon.image" alt="Image of {{coupon.title}}">
            <h4 md-line>{{coupon.type}}</h4>
            <p md-line> {{coupon.title}} </p>
            <p md-line class="demo-secondary-text">Valid until: {{coupon.endDate}} </p>
        </md-list-item>
    </md-list>
</div>

<div *ngIf="_service.isUserInRole('ADMIN')">
    <companies></companies>
    <customers></customers>
</div>


<div *ngIf="_service.isUserInRole('COMPANY')">
    <coupons></coupons>
</div>


