@import '~@angular/material/core/theming/all-theme';

@include md-core();

$primary: md-palette($md-deep-purple);
$accent: md-palette($md-amber, A200, A100, A400);

$theme: md-light-theme($primary, $accent);

@include angular-material-theme($theme);

.m2app-dark {
  $dark-primary: md-palette($md-pink, 700, 500, 900);
  $dark-accent: md-palette($md-blue-grey, A200, A100, A400);
  $dark-warn: md-palette($md-deep-orange);

  $dark-theme: md-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}

md-sidenav-layout.m2app-dark {
  background: black;
  color: white;
}

.app-content {
  padding: 20px;
  font-family: "Raleway" !important;
  font-weight: 200;

  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;

  overflow-x: hidden;

  /* flexbox setup */
  display: flex;
  flex-direction: row;
  // -webkit-flex-direction: column;
  // -ms-flex-direction: column;
  //display: -webkit-box;
  //display: -webkit-flex;
  //display: -ms-flexbox;
  //display: flex;
  justify-content: center;
  //flex-wrap: wrap;
  //flex-direction: row;
  //align-items: stretch;
}

.centered {

  margin: auto
  //display: inline-block;
  //position: fixed;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
}

.app-content md-card {
  flex: 1 1 auto;
  width: 100%; /* To make the transition work nicely. (Transitions to/from
                        "width:auto" are buggy in Gecko and Webkit, at least.
                        See http://bugzil.la/731886 for more info.) */
  transition: background 0.7s ease-out;
}
/* colors */
//.app-content md-card:nth-child(1){ background: #009246; }
//.app-content md-card:nth-child(2){ background: #F1F2F1; }
//.app-content md-card:nth-child(3){ background: #CE2B37; }

.app-content md-card:hover {
   background: #F1F2F1;
  //width: 200px;
}

.app-sidenav {
  padding: 10px;
  min-width: 100px;
}

.app-content md-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  color: black;
}

.app-action-left {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.app-action-right {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-action-center {
  display: inline-block;
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -130%);
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-icon-button-crud {
  box-shadow: black;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  color: black;
}

.app-list {
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin: 20px;
}

//.ng-valid[required], .ng-valid.required {
//  border-bottom: 5px solid #42A948; /* green */
//}
//
//.ng-invalid:not(form) {
//  border-bottom: 5px solid #a94442; /* red */
//}

.clientType-radio-section {
  //display: list-item;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.clientType-radio-section md-radio-button{

}

button {
  color: black;
}

.footer {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer-copyright {
  font-family: "Roboto", sans-serif;
  font-size: small;
}
