<div *ngIf="coupon">
    <h3>Are you sure you want to delete {{coupon.title}} coupon ?</h3>
    <button md-icon-button color="red" (click)="delete(coupon)">YES</button>
    <button md-icon-button color="grey" (click)="goBack()">NO</button>
</div>
