<h3 class="center-align">{{title}}</h3>


<button md-icon-button (click)="gotoCreate()"><md-icon class="material-icons">add</md-icon></button>

<!--Filter box-->
<md-input placeholder="filter" [(ngModel)]="couponFilter" (keyup)="onCouponFilterChange()"></md-input>

<md-nav-list>
    <a md-list-item *ngFor="let coupon of filteredCoupons"
       [class.selected]="coupon === selectedCoupon"
       (click)="onSelect(coupon)">
        <span md-line>{{coupon.id}}. {{coupon.title}}</span>
        <button md-icon-button (click)="gotoDelete()"><md-icon class="material-icons">delete</md-icon></button>
        <button md-icon-button (click)="gotoDetail()"><md-icon class="material-icons">edit</md-icon></button>
    </a>
</md-nav-list>

<md-card *ngIf="selectedCoupon">
    <md-card-header>
        <img md-card-avatar>
        <!--TODO: show company that created this coupon-->
        <md-card-title>Title: {{selectedCoupon.title}} Details</md-card-title>
        <md-card-subtitle>Category: {{selectedCoupon.type}}</md-card-subtitle>
    </md-card-header>
    <md-card-actions>
        <button md-button (click)="gotoDetail()">Edit</button>
        <button md-button (click)="gotoDelete()">Delete</button>
    </md-card-actions>
    <md-card-content>
        <img md-card-md-image src="{{selectedCoupon.image}}" alt="Promotion">
        <p>{{selectedCoupon.message}}</p>
        <span md-line>Amount: {{selectedCoupon.amount}}</span>
        <span md-line>Price: {{selectedCoupon.price}}</span>
        <!--TODO: show all customers that bought that coupon-->
        <!--<md-nav-list dense>-->
            <!--<a md-list-item *ngFor="let coupon of selectedCoupon?.customers"></a>-->
        <!--</md-nav-list>-->
    </md-card-content>
</md-card>
